
/* تعيين خلفية سوداء */
.background-container {
    background-color: #000; /* خلفية سوداء */
    height: 660vh; /* تغطي كامل الشاشة */
    padding: 10px;
    color: white; /* الكتابة باللون الأبيض */
    text-align: center;
    font-family: 'Katibeh', serif;
    background-size: cover ; 
    background-repeat: repeat  ;
     /* استخدام خط أميري */
}


/* تنسيق المحتوى */
.content {
    margin-top: 50px;
    font-size: 1.2em;
    line-height: 1.8;
}

/* تنسيق الجزء */
h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
/* تعيين خلفية سوداء */
.part2 {
    background-color: #000000; /* خلفية سوداء */
    height: 850vh; /* تغطي كامل الشاشة */
    padding: 20px;
    color: #F7C6C1; /* الكتابة باللون الأبيض */
    text-align: center;
    font-family: 'Katibeh', serif;
    background-size: cover ; 
    background-repeat: repeat  ;
     /* استخدام خط أميري */
}


/* تنسيق المحتوى */
.00part2 {
    margin-top: 50px;
    font-size: 1em;
    line-height: 1.8;
}

.part3 {
    background-color: #000000; /* خلفية سوداء */
    height: 1200vh; /* تغطي كامل الشاشة */
    padding: 20px;
    color: #F7C6C1; /* الكتابة باللون الأبيض */
    text-align: center;
    font-family: 'Katibeh', serif;
    background-size: cover ; 
    background-repeat: repeat  ;
     /* استخدام خط أميري */
}


/* تنسيق المحتوى */
.00part3 {
    margin-top: 50px;
    font-size: 1em;
    line-height: 1.8;
}


.part4 {
    background-color: #000000; /* خلفية سوداء */
    height: 1200vh; /* تغطي كامل الشاشة */
    padding: 20px;
    color: #F7C6C1; /* الكتابة باللون الأبيض */
    text-align: center;
    font-family: 'Katibeh', serif;
    background-size: cover ; 
    background-repeat: repeat  ;
     /* استخدام خط أميري */
}


/* تنسيق المحتوى */
.0part4 {
    margin-top: 50px;
    font-size: 1em;
    line-height: 1.8;
}




